<div class="comment-tabs" fix-width>
  <div class="grid grid--narrow">
    <div class="grid__item one-whole">
      <button class="ct-item"
              ng-class="{'ct-item--active':  optionsPanel}"
              ng-click="optionsPanel = !optionsPanel"
              ng-show="!optionsPanel">
        Options
      </button>
      <button class="ct-item"
              ng-class="{'ct-item--active':  optionsPanel}"
              ng-click="optionsPanel = !optionsPanel"
              ng-show="optionsPanel">
        Close
      </button>
    </div><!--
    -->
  </div>
</div>
