<div class="comment-tabs" fix-width>
  <div class="ct-header">{{contextualStats.commentsCount}} comments</div>
  <div class="l-block">
    <options-panel></options-panel>
  </div>
  <!--<div class="grid grid--narrow">
    <div class="grid__item one-whole">
      <button class="ct-item"
              ng-class="{'ct-item--active':  optionsPanel}"
              ng-click="optionsPanel = !optionsPanel"
              ng-show="!optionsPanel">
        Comment Filtering
      </button>
      <button class="ct-item"
              ng-class="{'ct-item--active':  optionsPanel}"
              ng-click="optionsPanel = !optionsPanel"
              ng-show="optionsPanel">
        Close
      </button>
    </div>
    -->


  </div>


</div>