<div class="tc-comment tc-comment--reply">
  <form ng-submit="postComment()">
    <div ng-class="{'l-block-small': active}">
      <textarea msd-elastic="\n" placeholder="Reply to the comment" ng-focus="activate()" ng-model="commentText"></textarea>
    </div>

    <div class="l-split" ng-show="active">
      <div class="l-split__right">
        <button class="button">Post</button>
      </div>

      <div class="l-split__left">
        <button class="button" type="button" ng-click="deactivate()">Cancel</button>
      </div>
    </div>
  </form>
</div>