<div class="dev-toolbar" ng-class="{'dev-toolbar--hidden': isHidden}">
  <div class="dev-toolbar__section dev-toolbar__section--header">
    <div class="l-split">
      <div class="l-split__right">
        <div class="dev-toolbar__controls">
          <button class="link" ng-click="isHidden = !isHidden"><span ng-if="isHidden">show</span><span ng-if="!isHidden">hide</span></button>
        </div>
      </div>

      <div class="l-split__left">
        <div class="dev-toolbar__title">Finish</div>
      </div>
    </div>
  </div>

  <form id="finishTask" action="/">
    <div class="dev-toolbar__section">
      <div class="l-list-inline l-list-inline--small">
        <div class="l-list-inline__item button button--danger"><button ng-click='confirmQuit()' ng-confirm-click="sas">Finished Tasks</button></div>
      </div>
    </div>    
  </form>

</div>