<div>
    <div class="grid grid--center grid--full">
        <div class="grid__item three-quarters">
            <div class="" ng-repeat="n in setDivs(7) track by $index">
                <span class="relevantComments" id="anchorRelevant{{$index}}" relevant-anchor ></span>
                <span class="heatmap" id="{{$index}}" ng-click="setActiveLine( $index )" heatmap ></span>
                <span class="teacherParticipation" id="teacherParticipation{{$index}}" ng-click="setActiveLine( $index )" teacherParticipation></span>
            </div>
            <div class="document-toolbar" fix-width ng-show="false">
                <statusbar-contextual ng-show="activeTab != false"></statusbar-contextual>
                <statusbar-default ng-show="activeTab == false"></statusbar-default>
            </div>

            <article class="document">
                <header class='l-block-med'>
                    <h1 class="document__title">Eggplant</h1>
                </header>

                <div class="content-area" select-anchor="">
                    <p id="paragraph1" paragraph="" class="ng-scope">The eggplant is a delicate, tropical perennial often cultivated as a tender or half-hardy annual in temperate climates. <note-54385 id="1" comment-anchor="" class="document__anchor document__anchor--teal ng-isolate-scope document__anchor--num" comment-active="false" data-content="1">It has large, coarsely lobed leaves that are 10 to 20 cm (3.9 to 7.9 in) long and 5 to 10 cm (2.0 to 3.9 in) broad.</note-54385> Semiwild types can grow much larger, to 225 cm (7.38 ft) with large leaves over 30 cm (12 in) long and 15 cm (5.9 in) broad. The stem is often spiny. The egg-shaped glossy purple fruit has white flesh with a meaty texture. The cut surface of the flesh rapidly turns brown when the fruit is cut open. On wild plants, the fruit is less than 3 cm (1.2 in) in diameter, but very much larger in cultivated forms, reaching 30 cm (12 in) or more in length.</p>

                    <p>"Eggplant" is the common name in <note-84061 id="2" comment-anchor="" class="document__anchor document__anchor--teal ng-isolate-scope document__anchor--num" comment-active="false" data-content="1">English</note-84061>. It is known in South Asia, Southeast Asia and South Africa as brinjal.</p>
                </div>
            </article>
        </div><!--
        --><div class="grid__item one-quarter">
          <comment-tabs></comment-tabs>
          <!--<div class="container"><options-panel></options-panel></div>-->

          <div class="new-positioning-grid">
              <div ng-repeat="comment in contextualComments | filter:filterLine track by $index">
                <contextual-comment comment="comment" ng-if="comment.text != undefined"></contextual-comment>
                <contextual-comment-form comment="comment" ng-if="comment.text == undefined"></contextual-comment-form>
              </div>
          </div>
        </div>
    </div>

    <start-modal click-action="startExperiment"
                 ng-hide="experimentStarted"></start-modal>
</div>
