<div>
    <div class="grid grid--center grid--full">
        <div class="grid__item three-quarters">
            <div class="document-toolbar" fix-width ng-show="false">
                <statusbar-contextual ng-show="activeTab != false"></statusbar-contextual>
                <statusbar-default ng-show="activeTab == false"></statusbar-default>
            </div>

            <article class="document">
                <header class='l-block-med'>
                    <h1 class="document__title">Islamic Pottery</h1>
                </header>

                <div class="content-area" select-anchor="">
                    <p>Fritware, also known as stone-paste, is a type of pottery in which <note-54385 id="1" comment-anchor="" class="document__anchor document__anchor--teal document__anchor--num" comment-active="false" data-content="1">frit</note-54385> is added to clay to reduce its fusion temperature. The formula may include quartz or other siliceous material. An organic compound such as gum or glue may be added for binding. As a result, the mixture can be fired at a lower temperature than clay alone. A glaze, processed at a higher temperature, was then applied on the surface to harden the object.</p>

                    <p>Fritware <note-54386 id="2" comment-anchor="" class="document__anchor document__anchor--teal document__anchor--num" comment-active="false" data-content="1">was invented</note-54386> to give a stronger and whiter body to its pottery material, which, combined with tin-glazing of the surface, allowed it to approximate the result of Chinese porcelain. True porcelain was not manufactured in the Islamic world until modern times, and most fine <note-54387 id="3" comment-anchor="" class="document__anchor document__anchor--teal document__anchor--num" comment-active="false" data-content="1">Islamic pottery</note-54387> was fritware until then. Frit was also a significant component in some early European porcelains.</p>
                </div>
            </article>
        </div><!--
        --><div class="grid__item one-quarter">
          <comment-tabs></comment-tabs>
          <!--<div class="container"><options-panel></options-panel></div>-->

          <div class="new-positioning-grid">
              <div ng-repeat="comment in contextualComments | filter:filterLine track by $index">
                <contextual-comment comment="comment" ng-if="comment.text != undefined"></contextual-comment>
                <contextual-comment-form comment="comment" ng-if="comment.text == undefined"></contextual-comment-form>
              </div>
          </div>
        </div>
    </div>
</div>
