<div>
    <div class="grid grid--center grid--full">
        <div class="grid__item three-quarters">
            <div class="" ng-repeat="n in setDivs(23) track by $index">
                <span class="relevantComments" id="anchorRelevant{{$index}}" relevant-anchor ></span>
                <span class="heatmap" id="{{$index}}" ng-click="setActiveLine( $index )" heatmap ></span>
                <span class="teacherParticipation" id="teacherParticipation{{$index}}" ng-click="setActiveLine( $index )" teacherParticipation></span>
            </div>
            <div class="document-toolbar" fix-width ng-show="false">
                <statusbar-contextual ng-show="activeTab != false"></statusbar-contextual>
                <statusbar-default ng-show="activeTab == false"></statusbar-default>
            </div>

            <article class="document">
                <header class='l-block-med'>
                    <h1 class="document__title">The Chimney Sweep</h1>
                </header>

                <div class="content-area" select-anchor="">
                    <div class="container">
                      <button  ng-show="activeParagraph !='paragraph1'" class="bubble"  ng-click="activeParagraph ='paragraph1'; activeTab ='paragraph1'">. . .
                          <span class="ct-item__counter" comment-buttons>
                          </span>
                          <span teacher>
                          </span>
                        </button>
                        <button  ng-show="activeParagraph == 'paragraph1'" class="bubble" style="" ng-click="hidden = true; activeTab = false; activeParagraph = false">
                          Hide
                        </button>
                    </div>

                    <p id="paragraph1" paragraph="">Jack, a kidnapped boy working as <note-12345 id="1" comment-anchor="" class="document__anchor document__anchor--teal document__anchor--num" comment-active="false" data-content="1">a chimney sweep</note-12345>, is roughly treated and often beaten by his <note-54385 id="2" comment-anchor="" class="document__anchor document__anchor--teal ng-isolate-scope document__anchor--num" comment-active="false" data-content="1">brutal employer</note-54385>. Falling asleep after a long day, he dreams of his lost mother and the fairy tales he heard. The memories transform into a journey through Dream Country, led by the Fairy of Dreams, who turns Jack into a King amid the celebrations of a royal court. The dream ends abruptly when Jack is woken up by his employer for the day's work.</p>

                    <div class="container">
                      <button  ng-show="activeParagraph !='paragraph2'" class="bubble"  ng-click="activeParagraph ='paragraph2'; activeTab ='paragraph2'">. . .
                          <span class="ct-item__counter" comment-buttons>
                          </span>
                          <span teacher>
                          </span>
                        </button>
                        <button  ng-show="activeParagraph == 'paragraph2'" class="bubble" style="" ng-click="hidden = true; activeTab = false; activeParagraph = false">
                          Hide
                        </button>
                    </div>

                    <p id="paragraph2" paragraph="">Jack is busily at work when, behind some bricks <note-84061 id="3" comment-anchor="" class="document__anchor document__anchor--teal ng-isolate-scope document__anchor--num" comment-active="false" data-content="1">inside a chimney, he comes across a box full of gold and money, hidden there many years ago.</note-84061> The employer tries to take possession of the treasure trove, but Jack runs away. A chase ensues through the neighborhood, with townspeople and servants joining in. Jack escapes and hides just before his employer falls into a pit. Finding him covered with mud, the onlookers plunge him into a cask of water.</p>

                </div>
            </article>
        </div><!--
        --><div class="grid__item one-quarter">
          <comment-tabs></comment-tabs>
          <!--<div class="container"><options-panel></options-panel></div>-->

          <div class="new-positioning-grid">
              <div ng-repeat="comment in contextualComments | filter:filterPara1 track by $index">
                <contextual-comment comment="comment" ng-if="comment.text != undefined"></contextual-comment>
                <contextual-comment-form comment="comment" ng-if="comment.text == undefined"></contextual-comment-form>
              </div>
          </div>
        </div>
    </div>
</div>
