<div class="search-bar" >
  <form ng-submit="search()">
    <div class="l-list-inline l-list-inline--collapsed">
      <div class="l-list-inline__item">
        <input ng-model="filterComments" class="search-bar-item" placeholder="Search by user, keyword"></input>
      </div>

      <div class="l-list-inline__item">      
        <button class="button button--success">Find</button>
      </div>

      <div class="l-list-inline__item">
        <button type="button" class="button" ng-click="filterComments = ''">Clear</button>
      </div>
    </div>
  </form>
</div>