<div class="l-split">
  <div class="l-split__right">
    <div class="l-list-inline">
      <div class="l-list-inline__item">
        <button class="button button--small button--success" ng-click="showGeneralCommentForm()">new general comment</button>
      </div>

      <div class="l-list-inline__item">
        <button class="button button--small" ng-click="activeTab = false">hide comments</button>
      </div>
    </div>
  </div>

  <div class="l-split__left">
    <div class="l-list-inline l-list-inline--small">
      <div class="l-list-inline__item">
        <div class="document-toolbar__title">General comments:</div>
      </div>

      <div class="l-list-inline__item">
        {{generalStats.commentsCount}} comments, {{generalStats.repliesCount}} replies
      </div>
    </div>
  </div>
</div>