/**
 *  COMMENTS MODULE
 *
 *  styling for the general wrapper
 *  containing comments
 *
 *  .comments
 *
 */
.comments {
  position: relative;
  margin-top: $global-baseline * 6;
  padding:0  $global-baseline;
}