
/**********************
*
* Heatmap div
*
**********************/

.heatmap{
  height: 24px;
  top: 168px;
  width: 24px;
  padding: 1px;
  position: relative;
  pointer-events: none;
  clear: left;
  float: left;
}
