/**
 *  LINK MODULE
 *
 *  links behaviour across application. Classes are applied
 *  when element with unique style is also a link. In case
 *  with normal links (like in navigations), they extend
 *  one of these
 *
 *  .link
 *    &--primary
 *    &--danger
 *    &--success
 *
 */
.link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
  .link--primary {
    color: $color-dc-primary;
  }
  .link--danger {
    color: $color-dc-secondary;
  }
  .link--success {
    color: $color-dc-tertiary;
  }

.link-inv {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}