/**
 *  THREAD GENERAL
 *
 *  styling for general comments
 *
 *  .thread-general
 *    <>-- .tg-comment
 *
 *    &__author
 *    &__updated-at
 *    <>--  .tg-reply
 *
 */
.thread-general {
  margin-left: $global-baseline;
  font-size: 13px;
  line-height: 17px;

  background: white;
  border: 1px solid darken($color-bg, 5%);
}
  .thread-general--multiple {
    box-shadow: 2px 2px 0 0 white,
                2px 2px 0 1px darken($color-bg, 5%),
                5px 5px 0 0 white,
                5px 5px 0 1px darken($color-bg, 5%),
                8px 8px 0 0 white,
                8px 8px 0 1px darken($color-bg, 5%);
  }

.tg-comment {
  position: relative;
  padding: $global-baseline;

  &__author {
    font-weight: 600;

    color: $color-tx-darkened;
  }

  &__updated-at {
    font-weight: 300;

    color: $color-tx-muted;
  }
}
  .tg-comment--reply {
    padding-left: $global-baseline * 2;

    border-top: 1px solid darken($color-bg, 5%);
    border-left: 4px solid darken($color-bg, 5%);

    .tg-comment__new-indicator {
      top: 11px;
    }
  }